@media (max-width:480px){
    header img{
        width:30px;
        height: 30px;
        border-radius: 8px;
    }
    .footer{
        margin-top: 50px;
    }
    .footer img{
        border-radius: 8px;
        width: 50px;
        height: 50px;
    }
    footer div{
        grid-column-start:8;
    }
    .footer1{
        font-size: 15px;
        line-height: 10px;
    }
    .footer2{
        font-size:15px;
    }
    header>div>a{
        font-size: 8px;
    }
    .slider{
        margin-top: 0px;
    }
    .class4{
        margin-top:15px;
        grid-template-rows: 1vh 30vh 40vh;
    }
    .class4_text{
        margin-top: 0px;
        font-size: 8px;
    }
    .class2_caption{
        font-size: 20px;
        -webkit-text-stroke:0.15px #D9FFDD;
    }
    .class5_photo1{
        margin-top: 0px;
    }
    .class5_text{
        font-size: 8px;
        margin-top: 0px;
    }
    .class5{
        margin-top:5px;
        grid-template-rows: 1vh 30vh 30vh;
    }
    .class3{
        margin-top:5px;
        /* border:1px solid black; */
        grid-template-rows: 2vh 25vh 25vh 35vh;
    }
    
    .class3_photo1{
        margin-top: 0px;
    }
    .class3_photo2{
        margin-top: 0px;
    }
    .class3_photo3{
        margin-top: 0px;
    }
    .class3_photo4{
        margin-top: 0px;
    }
    .class3_text{
        margin-top: 0px;
        font-size: 8px;
    }
    .class6{
        margin-top:5px;
        grid-template-rows: 1vh 35vh 20vh;
    }
    .class6_text{
        margin-top: 5px;
        font-size: 8px;
        grid-column:2/-2;
    }
    
    .class6_photo2{
        margin-top: 0px;
        grid-row:3/4;
        grid-column: 2/6;
    }
    .class6_photo3{
        margin-top: 0px;
        grid-column: 6/9;
    }
    .class6_photo4{
        margin-top: 0px;
        grid-column: 9/12;
    }
    
}